<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="io.opencaesar.oml.tutorial.viewpoint.Activator"
               id="oml-tutorial-viewpoint"
	       name="oml-tutorial-viewpoint">
    </component>
  </extension>
</plugin>
